
.grid-a-propos{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 150px;
    gap: 10px;
    margin-top: 0px;
    z-index: 2;
}

.grid-a-propos img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .lien-conteneur-photo {
    position: relative;
  }

  .conteneur{
    position: relative;
    margin-top: 30px;
    height: 310px;
  }

  .arriereplan1{
    height: 300px;
    width: 500px;
    position: absolute;
    top: 40px;
    left:525px;
    background-color:#373965;
    opacity: 0.6;
    z-index: 1;
  }

.competences {
    border-right: 1px #8e86b5 solid;
    border-bottom: 1px #8e86b5 solid;
    padding: 50px;
    width: 65%;
    margin: auto;
    margin-bottom: 80px;
}

.competences h2{
    margin-top: 30px;
}

.competences ul{
    margin-top: 30px;
}

.competences + div{
text-align: center;
}

@media screen and (max-width: 996px) {

    .competences p,li{
        font-size: 0.9em;
    }
    
    .competences h2{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 1515px) {
    .arriereplan1{
       display: none;
    }
}
